# Terraform state files
*.tfstate
*.tfstate.backup
.terraform/

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log

# .terraform directories
.terraform/
# Ignore tfvars with secrets
envs/*.tfvars

